@import 'reset'; 

body{
    position: relative;
//    overflow: hidden;
//    height: 100vh;
}
.account-section{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100vh;
    width:100%;
    background-image:url(../img/pexels-d%C6%B0%C6%A1ng-nh%C3%A2n-1529881.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
//    transform: translateY(-1600px);
    transition: all 0.3s ease-in;
    .modal-box{
        position: absolute;
        width:700px;
       
        transition: all 0.4s ease-in-out;
//        height:500px;
        background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
//        z-index:5;
    }
   .accountCreation{
        display: none;
       background: red;
    }
    .show-modal{
        display:block;
    }
    .hide-modal{
        display: none !important;
    }
}
.account-section{
    .login{
        padding:30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        animation: heighter 0.4s ease-out forwards;
        .fa-user{
            font-size: 77px;
            padding:20px 25px;
            background: #fff;
            color:grey;
            border-radius: 98px;
            box-shadow: 37px 25px 39px -9px rgba(0,0,0,0.6);
-webkit-box-shadow: 37px 25px 39px -9px rgba(0,0,0,0.6);
-moz-box-shadow: 37px 25px 39px -9px rgba(0,0,0,0.6);
            
            
        }
        h2{
            color:#595954;
            margin:5px 0px;
        }
        .login-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            width:400px;
            input{
                display: block;
                width:100%;
                padding:12px;
                margin:8px 0;
                border:none;
            }
            .loginBtn{
                display: block;
                margin:0 auto;
                padding:10px 25px;
                background: #2E4DA7;
                border:none;
                border-right: 14px;
                font-size: 15px;
                font-weight: 600;
                margin-top:8px;
                &:hover{
                    border:1px solid #0c3162;
                    background: none;
                    color:#0a2953;
                }
            }
            h4{
                color:red;
                margin:5px 0;
            }
        }
    }
    p{
        margin-top:7px;
    }
    .CreateAccount{
        color:#44D5EE;
        text-decoration:underline;
//        display: inline;
        &:hover{
            color:red;
        }
    }
}

@keyframes heighter{
    from{
        height:0;
    }
    to{
        height:500px;
    }
}
.scetion-wrap{
    position: relative;
//    z-index:3;
}
.side-bar{
    background: #258c60;
    height:100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
//    width:45px !important;
    .upper-section{
        padding-top:15px;
    }
    .icons{
        color:#fff;
        margin:10px 0;
        font-size: 20px;
       
    }
}
.left-bar{
    background: #1b1b1b;
    height:100vh;
    text-align: center;
    color:#6d6767;
    .profile-card{
        width:100%;
//        height:400px;
        background:#1b1b1b;
        display: flex;
        align-items: center;
        flex-flow: column;
        padding:14px;
        h4,h6{
            margin:5px 0;
        }
    }
    .profile-image{
        width:170px;
        height:170px;
        border-radius: 50%;
        background:black;
        overflow: hidden;
        box-shadow: 24px 20px 25px -7px rgba(0,0,0,0.69);
-webkit-box-shadow: 24px 20px 25px -7px rgba(0,0,0,0.69);
-moz-box-shadow: 24px 20px 25px -7px rgba(0,0,0,0.69);
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
}
.left-bar .userSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
   
    .search-box{
        position: relative;
        height: 100%;
        
        input{
            background: transparent;
            border:none;
            padding:4px;
            color: #fff;
            border-bottom: 0.5px solid grey;
//            font-size: 14px;
        }
    }
    .fa-search{
        position: absolute;
        top:10px;
        right:4px;
        cursor:pointer;
        color:#3e2e2e;
//        z-index: 7;
    }
}

.Users{
    width:100%;
    height:230px;
    margin-top:7px;
//    background: blue;
    overflow: auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(245, 245, 245, 0.24);
    }

    &::-webkit-scrollbar
    {
        width: 3px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
	background-color: rgba(0, 0, 0, 0.31);
}
    .profile-pic-wrapper{
        width:30px;
        height:30px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width:100%;
            height:100%;
        }
    }
    li{
        display: flex;
        align-items: center;
        padding:14px;
        border-bottom: 0.4px solid rgba(255, 255, 255, 0.43);
        h6{
            margin-left:15px;
            color:rgba(255, 255, 255, 0.72);
        }
    }
}
.profile-footer{
    margin-top:10px;
    h4{
        font-size: 13px;
        padding:5px;
        
    }
    h3{
        font-size: 13px;
    }
    P{
        font-size: 10px;
    }
}
.main-bar{
//     background: orange;
    height:100vh;
    padding-right: 0!important;
        padding-left: 0 !important;
    nav{
        width:100%;
        background:black;
        color:grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:19px 15px;
        
        .left-nav{
            .btn{
                display: none; 
            }
            display: flex;
            align-items: center;
            h6{
                margin-left:10px;
                font-size: 20px;
                color: #fff;
                font-weight: 300;
                strong{
                    font-size: 22px
                }
            }
        }
    }
}
.message-box{
    width:100%;
    height:90vh;
    background: #1f1f1f;
    position: relative;
    padding:10px;
    
    ul{
        height:100%;
        overflow: auto;
        li{
            display: flex;
//            justify-content: space-between;
//            align-items: center;
            max-width: 380px;
            background: #258c60;
            color:#c0ded1;
            margin:15px;
            padding:15px;
            border-radius: 14px;
            margin-left:24px;
            position: relative;
            box-shadow:  inset -7px -7px 14px #175f40,
            inset 7px 7px 14px #5bb58f;

//            display: inline-block;
            &:before {
                  content: '';
                  position: absolute;
                  display: block;
                  top: 5px;
                  left: -18px;
                  border-style: solid;
                  border-width: 0 0px 20px 20px;
                box-shadow:  inset -7px -7px 14px #175f40,
            inset 7px 7px 14px #5bb58f;
                  border-color: transparent transparent rgb(71, 160, 122) transparent;
                }
            .delete-btn{
                position: absolute;
                top:5px;
                right:10px;
                transform: scale(1.1);
//                transition: all 0.3s ease-in-out;
                &:active{
                    transform: scale(0.93);
                }
                
                i{
                    color:black;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
    }
    .input-section{
        width:100%;
        height:70px;
        background: #191515;
        position: absolute;
        bottom:0px;
        left:0;
//        position: relative;
        display: flex;
        align-items: center;
//        justify-content: space-around;
        .input-user-image{
            width:45px;
            height:45px;
            border-radius: 50%;
            overflow:hidden;
            margin-left:10px;
            img{
                width:100%;
                height:100%;
            }
        }
        .input-form{
            width:80%;
            margin-left:6px;
            display: flex;
            input{
                width:100%;
            }
            .submit-btn{
                background:#258c60;
                border:none;
                padding:10px;
                border-radius: 50%;
                margin-left:8px;
            }
        }
       
    }
}

@media (max-width:759px){
    .account-section{
        .modal-box{
            width:320px;
            height:460px;
            
        }
        .login{
            padding-top: 10px;
                .login-form{
                    width:250px;
                }
            .fa-user{
               font-size:70px; 
            }
            }
    }
    .side-section{
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:7;
       background:rgba(255, 255, 255, 0.69); 
        width:100% !important;
        transform:translateX(-1200px);
        transition: all 0.3s ease-in;
    }
    .show-side-section{
        transform: translateX(0);
    }
    .icons{
        font-size: 15px !important;
    }
    .profile-image{
        width:135px !important;
        height:135px !important;
    }
    
    .Users{
        height:258px;
    }
    .left-nav{
        .btn{
            display: block !important;
            border:1px solid grey;
            margin-left: -8px;
            position: relative;
            .fa-bars{
                
            font-size: 20px;
            }
//            padding:0;
            }
        h6{
            font-size: 16px !important;
        }
    }
    .message-box{
    width:100%;
    height: 88vh;
//    background: black;
        ul{
            height:100%;
            z-index:3;
            li{
                max-width:230px;
            }
        }
}
    .input-section{
        bottom:0;
        
        .input-user-section{
            width:38px;
            height:38px;

        }
        input{
            margin: 0px;
        }
        .fa-paper-plane{
//            margin-left:-4px;
            right:10px !important;
            top:12px;
        }
    }
    
}

@media (min-width:760px) and (max-width:900px){
    .profile-image{
        width:115px !important;
        height:115px !important;
    }
    .left-bar{
//        width:350px;
    }
    .left-bar .userSearch{
        width:100%;
        input{
            width:100%;
        }
    }
    .message-box{
    width:100%;
    height:88vh;
//    background: black;
        ul{
        height:100%
//        overflow: auto;
    }
    .input-section{
        width:100%;
//        height:100px;
        background: #191515;
        position: absolute;
        bottom:-60px;
        left:0;
    }
}
}

